/**/*.json
/**/*.directory
/**/nbactions.xml
/**/target/
/**/logback-test.xml
/**/nbproject/
/**/.project
/**/.classpath
/**/.settings/
/GTFSDataFeeder/data/**/*.txt
/GTFSDataFeeder/data/**/*.zip
/TrafficDataWebServer.NET/**/obj
/TrafficDataWebServer.NET/**/bin
/testdata/*.mqtt
